version: "3.9"

services:
  backend:
    build: ./service
    container_name: dealbrief_backend
    ports:
      - "8000:8000"
    volumes:
      - ./service/app:/app
      - ./data:/app/data
    env_file:
      - ./.env

  frontend:
    image: node:24-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: sh -c "npm install && npm start"
